Repository maxime-desroches/tinypilot, changes with the labels that .github/labeler.yaml gives for each.
All labels: CI / testing, car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen

Hyundai: add platform code fuzzy FW test (#29847)
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car

Hyundai: add platform code fuzzy FW test (#29847)
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car

replace REQUIRE with assert
  system/loggerd/tests/test_logger.cc
Labels: CI / testing

add print_platform_codes.py
  selfdrive/car/toyota/tests/print_platform_codes.py
Labels: car

add test
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car

Updated model input names to match onnx inputs
  selfdrive/modeld/dmonitoringmodeld.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/navmodeld.py
Labels: none

more
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car

Update model input names to match onnx inputs (#29855)
  selfdrive/modeld/dmonitoringmodeld.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/navmodeld.py
Labels: none

Update model input names to match onnx inputs (#29855)
  selfdrive/modeld/dmonitoringmodeld.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/navmodeld.py
Labels: none

Converted onnx runner to python
  selfdrive/modeld/SConscript
  selfdrive/modeld/runners/__init__.py
  selfdrive/modeld/runners/onnx_runner.py
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/onnxmodel.pxd
  selfdrive/modeld/runners/onnxmodel.py
  selfdrive/modeld/runners/onnxmodel_pyx.pyx
Labels: none

Converted onnx runner to python (#29856)
  selfdrive/modeld/SConscript
  selfdrive/modeld/runners/__init__.py
  selfdrive/modeld/runners/onnx_runner.py
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/onnxmodel.pxd
  selfdrive/modeld/runners/onnxmodel.py
  selfdrive/modeld/runners/onnxmodel_pyx.pyx
Labels: none

Converted onnx runner to python (#29856)
  selfdrive/modeld/SConscript
  selfdrive/modeld/runners/__init__.py
  selfdrive/modeld/runners/onnx_runner.py
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/onnxmodel.pxd
  selfdrive/modeld/runners/onnxmodel.py
  selfdrive/modeld/runners/onnxmodel_pyx.pyx
Labels: none

.github/labeler.yaml:

CI / testing:
 - .github/**
 - '**/test_*'

car: selfdrive/car/**
body: selfdrive/car/body/*
chrysler: selfdrive/car/chrysler/*
ford: selfdrive/car/ford/*
gm: selfdrive/car/gm/*
honda: selfdrive/car/honda/*
hyundai: selfdrive/car/hyundai/*
mazda: selfdrive/car/mazda/*
nissan: selfdrive/car/nissan/*
subaru: selfdrive/car/subaru/*
tesla: selfdrive/car/tesla/*
toyota: selfdrive/car/toyota/*
volkswagen: selfdrive/car/volkswagen/*

#multilanguage: selfdrive/ui/translations/**
#simulation: tools/sim/**
#ui: selfdrive/ui/**
#tools: tools/**
