Repository maxime-desroches/tinypilot, changes with the labels that .github/labeler.yaml gives for each.
All labels: CI / testing, car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen

.github/labeler.yaml:

CI / testing:
 - .github/**
 - '**/test_*'

car: selfdrive/car/**
body: selfdrive/car/body/*
chrysler: selfdrive/car/chrysler/*
ford: selfdrive/car/ford/*
gm: selfdrive/car/gm/*
honda: selfdrive/car/honda/*
hyundai: selfdrive/car/hyundai/*
mazda: selfdrive/car/mazda/*
nissan: selfdrive/car/nissan/*
subaru: selfdrive/car/subaru/*
tesla: selfdrive/car/tesla/*
toyota: selfdrive/car/toyota/*
volkswagen: selfdrive/car/volkswagen/*

#multilanguage: selfdrive/ui/translations/**
#simulation: tools/sim/**
#ui: selfdrive/ui/**
#tools: tools/**

fixup power draw test
  Jenkinsfile
Labels: none

no pytest
  Jenkinsfile
Labels: none

cleanup
  tools/cabana/common/colordlg.cc
  tools/cabana/common/colordlg.h
Labels: none

use icon instead of rich text
  tools/cabana/common/colordlg.cc
  tools/cabana/common/colordlg.h
Labels: none

disable color pick button if no signal
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: none

support choosing color for signal
  tools/cabana/SConscript
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/common/colordlg.cc
  tools/cabana/common/colordlg.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: none

temporarly unlock docker_push
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

it was merged upstream
  pyproject.toml
Labels: none

Remove requirement for target arch when pushing
  selfdrive/test/docker_build.sh
Labels: none

Unset target architecture in docker_push cl
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

fix sha tags
  selfdrive/test/docker_common.sh
Labels: none

fixup power draw test output (#29844)
  Jenkinsfile
Labels: none

fixup power draw test output (#29844)
  Jenkinsfile
Labels: none

Rename action to compile-openpilot
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

move push_image line to tag_multiarch step
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

fix
  selfdrive/car/mock/interface.py
Labels: car

arch suffix for scons cache
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup/action.yaml
Labels: CI / testing

cache_key_prefix for setup-with-retry
  .github/workflows/setup-with-retry/action.yaml
Labels: CI / testing

Re-disable docker_push on non-master
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

clean up
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car

mock car cleanup (#29835)
  selfdrive/car/mock/interface.py
  selfdrive/car/mock/radar_interface.py
Labels: car

mock car cleanup (#29835)
  selfdrive/car/mock/interface.py
  selfdrive/car/mock/radar_interface.py
Labels: car

add test to assert no crashing
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car

clean up hyundai
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car

fix print
  selfdrive/car/toyota/tests/print_platform_codes.py
Labels: car

fix startup
  selfdrive/controls/tests/test_startup.py
Labels: CI / testing

cleanup downloads folders
  common/prefix.py
Labels: none

Add newlines
  .github/workflows/setup-with-retry/action.yaml
  selfdrive/test/docker_common.sh
Labels: CI / testing

more clean up, fix med pattern
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car

docker: multiarch images (amd64/aarch64) (#29691)
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  selfdrive/test/docker_build.sh
  selfdrive/test/docker_common.sh
  selfdrive/test/docker_tag_multiarch.sh
Labels: CI / testing

docker: multiarch images (amd64/aarch64) (#29691)
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  selfdrive/test/docker_build.sh
  selfdrive/test/docker_common.sh
  selfdrive/test/docker_tag_multiarch.sh
Labels: CI / testing

DontUseNativeDialog
  tools/cabana/common/colordlg.cc
Labels: none

Prefix: cleanup more folders (#29848)
  common/prefix.py
Labels: none

Prefix: cleanup more folders (#29848)
  common/prefix.py
Labels: none

Fix multiarch merge script
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

replace TEST_RLOG_URL with a publicly accessible url
  tools/cabana/tests/test_cabana.cc
Labels: CI / testing

docker: fix multiarch tag push (#29850)
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

docker: fix multiarch tag push (#29850)
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

unset TARGET_ARCHITECTURE before running build
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

use major version
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car
